@charset "UTF-8";
/* CSS Document */

/* **ソートリスト**
1__全体設定
2__A案設定
3__B案設定
4__CSSハック
5__プラグイン制御
6__スクリプト発火
*/
@media screen and (max-width: 750px) and (orientation: portrait){
/*============================
#1__全体設定
============================*/
/* -基本設定- */
/* .pc,.sp.iphone{display:none;} */
.pc, .iphone{display:none;}
.sp{display:block;}
body{min-width:0;-webkit-text-size-adjust: 100%;padding-top: 75px;}
body.on{overflow: hidden;}

.header_top{display:none;}
#pankuzu{display:none;}
/* -header- */
header{padding: 0;position: fixed;top: 0;left: 0;width: 100%;z-index: 10;background:  #fff;}
.header{-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.1);-ms-box-shadow: 0 3px 3px rgba(0,0,0,0.1);-o-box-shadow: 0 3px 3px rgba(0,0,0,0.1);box-shadow: 0 3px 3px rgba(0,0,0,0.1);-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.1);}
.headerContain{padding: 10px 0;width:  93.5%;margin:  0 auto;position:  relative;padding-right:  50px;box-sizing:  border-box;}
.headerContain .logo{margin-top: 5px;}
.headerContain .link{float:  right;}
.headerContain .icons{display: flex;}
.headerContain .tel, .headerContain .mail{position: relative;}
.headerContain .tel > a , .headerContain .mail > a{
	display: block; position: relative; width: 60px; height: 60px; border: 1px solid #d5d5d5; margin-left: 22px; border-radius: 5px}
.headerContain .tel img, .headerContain .mail img{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin:auto;}
.headerContain #nav_input{display: none;}

/* -nav- */
nav{
	position: fixed;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	}
.nav > ul{width: 100%;}
.nav > ul > li{padding-bottom: 0;}
/* .nav > ul > li{position:relative;color:  #fff;font-size:  18px;font-weight:  bold;text-align:  left;padding: 16px 35px 16px 20px;border-bottom:  1px solid #AE4C4C;} */
/* .nav > ul > li:before{position:absolute;content:"";width:  9px;height:  9px;border-top: 2px solid #fff;border-right: 2px solid #fff;-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform:rotate(45deg);right: 20px;top: 50%;margin-top:  -6px;} */
.nav > ul > li > a{position:relative;color:  #fff;font-size:  18px;font-weight:  bold;text-align:  left; padding: 16px 35px 16px 20px; background-color: #000}
.nav > ul > li > a:hover{background-color: #8B0000}
.nav > .spMenu{margin: 41px 0;}
.gengo{
    margin: 20px 0;
}
.gengo a{
    padding: 0 9px;
    font-weight: normal;
    margin-right: 0;
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 10px;
    line-height: 36px;
    font-size: 12px;
    border-bottom: 2px solid #fff;
    position:relative;
    color:  #fff;
    display: inline-block;
    }
.gengo a:before{content:"";position:absolute;width: 7px;height: 7px;border-top: 2px solid #fff;border-right: 2px solid #fff;transform: rotate(45deg);top: 50%;margin-top:  -5px;left: 5px;}
.gengo a:hover{color:#fff !important;}

.header .spnav.tel img, .headerContain .mail img{
	position: absolute;
	margin:auto;}

.spTab{
		background:  #000;
		margin-top: 5px;
}

.spTab ul{}
.spTab ul li{
    font-size:16px;
    color:  #fff;
    font-weight: bold;
    display:inline-block;
    width:25%;
    box-sizing:border-box;
    border-right:1px solid #424242;
    padding:13px 0;
    vertical-align: middle;
    transition: .3s;
    text-align:  center;
}
.spTab ul li:hover{background: #8B0000;}
.spTab ul li:last-child{border-right:none;}
.spTab.on ul li.on{background: #6E0000; position:relative;}
.spTab.on ul li.on:before{position:absolute;content:"";border-color: #6E0000 transparent transparent transparent;border-width: 9px;height:  0;width:  0;border-style:  solid;left:  0;right:  0;margin:  auto;bottom: -18px; z-index: 2;}
.spTab .tabMenu{position: absolute; display:block; background: #8B0000; padding-bottom: 20px; width: calc(100% * 4 + 4px); top: 50px; z-index: 1;}
.spTab ul li:nth-child(2) .tabMenu{left: calc(-100% - 1px);}
.spTab ul li:nth-child(3) .tabMenu{left: calc(-100% * 2 - 2px);}
.spTab ul li:nth-child(4) .tabMenu{left: calc(-100% * 3 - 3px);}
.spTab .tabMenu{display:none;}
.spTab.on ul li.on .tabMenu{display:block;}

.spTab .tabMenu ul{display: flex; flex-direction: column;}
.spTab .tabMenu ul li{width: 94%; text-align: left; margin: 0 auto;background: #a23333; border-right: none; border-bottom: 1px solid #8B0000}
.spTab .tabMenu ul li:hover{background: #fff;}
.spTab .tabMenu ul li a{display: block; color: #fff; width: 100%;font-weight: normal; padding-left: 20px;}
.spTab .tabMenu ul li:hover a{color: #8B0000; opacity: 1;}
.menu_item_name{font-size: 17px;text-align: left;padding: 18px 24px 13px;}
.menu_item_name a{color: #fff;}
/* -ハンバーガーメニュー- */
.menu-trigger_wrap{position: absolute;top: 50%;right: 0;width: 100%;left: 0;margin: auto;height: 18px;text-align: right;margin-top:  -9px;}
.menu-trigger_wrap span{}
.menu-trigger_wrap a{ position:relative;}
.menu-trigger_wrap a:before{ position:absolute; content:"";width: 250%;height: 250%;left: -75%;top: -75%;}
.menu-trigger_wrap a,
.menu-trigger_wrap a span{display: inline-block;transition: all .4s;box-sizing: border-box;}
.menu-trigger_wrap a {position: relative;width: 25px;height: 18px;}
.menu-trigger_wrap a span {position: absolute;left: 0;width: 100%;height: 2px;background-color: #8B0000;border-radius: 4px;}
.menu-trigger_wrap a span:nth-child(1) {top: 0;}
.menu-trigger_wrap a span:nth-child(2) {top: 50%;margin: -1px 0 0 0;}
.menu-trigger_wrap a span:nth-child(3) {bottom: 0;}

.menu-trigger_wrap a.on span:nth-child(1) {-moz-transform:translateY(8px) rotate(315deg) scale(0.8);-o-transform:translateY(8px) rotate(315deg) scale(0.8);-ms-transform:translateY(8px) rotate(315deg) scale(0.8);-webkit-transform:translateY(8px) rotate(315deg) scale(0.8);transform: translateY(8px) rotate(315deg) scale(0.8);}
.menu-trigger_wrap a.on span:nth-child(2) {width: 30px;height: 30px;background-color: transparent;border: 3px solid #fff;border-radius: 50%;margin: -15px 0 0 -4px;}
.menu-trigger_wrap a.on span:nth-child(3) {-moz-transform:translateY(-8px) rotate(-315deg) scale(0.8);-o-transform: translateY(-8px) rotate(-315deg) scale(0.8);-ms-transform: translateY(-8px) rotate(-315deg) scale(0.8);-webkit-transform:translateY(-8px) rotate(-315deg) scale(0.8);transform: translateY(-8px) rotate(-315deg) scale(0.8);}

.header > nav{
	position: fixed;
	left: -100%;
	top: 0;
	width: 500px;
	height: 100%;
	overflow-y: scroll;
	background: #8B0000;
}
.header .spnav{

}
.headerContain .icons{position: relative;}
.header > nav > ul{
	display: flex;
	flex-direction: column;
}
.header > nav > ul > li > a{

/* .contain_link > a{ */
	background: none;
	position: relative;
	display: inline-block;
	padding: 16px 0 16px 20px;
	font-size: 17px;
	border-bottom: 1px solid #a23333;
	width: calc(100% - 20px);
	font-weight: normal;
	color: #fff;
	text-align: left;
}
/* .contain_link  > a:hover{
	background: #fff;
	color: #8B0000;
	opacity: 1;
}
.header > nav > ul > li:nth-child(10) > a:hover{
	background:  #8B0000;
}
.header > nav > ul > li:nth-child(10) > a{
	border-bottom: none;
	padding: 0;
}
.contain_link > a::after{
	display: none;
} */
.header > nav > ul > li > a:hover{
	background: #fff;
	color: #8B0000;
	opacity: 1;
}
.header > nav > ul > li:nth-child(11) > a:hover{
	background:  #8B0000;
}
.header > nav > ul > li:nth-child(11) > a{
	border-bottom: none;
	padding: 0;
}
.header > nav > ul > li > a::after{
	/* display: none; */
}


.header > nav a .mail{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 18px 10px;
	width: 72%;
	border: 2px solid #fff;
	border-radius: 10px;
	margin: 20px auto;
}
.header > nav .tel{
	display: flex;
	padding: 17px 10px;
	width: 80%;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.header > nav .tel img{
	position: relative;
	margin: 14px 10px;
}

.header > nav .tel .image{
	position: relative;
	background: #fff;
	border-radius: 10px;
	width: 90px;
	height: 90px;
	/* float: left; */
}

.header > nav .tel .image img{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}



.header > nav a .mail p{
	color: #fff;
	padding-right: 10px;
}
.header > nav > ul > li > a .mail img{
	position: relative;
  padding-right: 10px;
}


/* .spnav > ul > li > ul{
	display: flex;
	justify-content: center;
}
.spnav > ul > li > ul > li{
	border-right: 1px solid #a23333;
	padding: 0 10px;
}
.spnav > ul > li > ul > li:last-child{
	border-right: none;
}
.spnav > ul > li > ul > li a{
	color: #fff;
} */
.drop_menu{
	position: relative;
	top: 0;
}

.drop_menu_inner{
	width: 100%;
}
.drop_menu_inner > ul{
	display: flex;
	justify-content: center;
}
.drop_menu_inner > ul > li{
	border-right: 1px solid #a23333;
	padding: 0 10px;
}
.drop_menu_inner > ul > li:last-child{
	border-right: none;
}
.drop_menu_inner > ul > li a{
	color: #fff;
}



.spnav .drop_menu{display: none;}
/* .header > nav > ul > li > ul.inner{ */
.drop_menu_inner ul{
	border-top: 1px solid #8B0000;
	border-bottom: 1px solid #a23333;
	text-align: left;
	padding: 5%;
	flex-direction: column;
	border-left: none;
}
/* .header > nav > ul > li > ul.inner li{ */
.drop_menu_inner ul li{
	background: #a23333;
	border-bottom: 1px solid #8B0000;
	/* padding: 15px; */
}
/* .header > nav > ul > li > ul.inner li a{ */
.drop_menu_inner ul li a{
	height: 100%;
	width: 100%;
	display: block;
	padding: 15px 10px;
	margin-left: -10px;
	position: relative;
}

.drop_menu_inner ul li a:hover{
	background: #fff;
	color: #8B0000;
	opacity: 1;
}

.drop_menu_kodawari_item li{
	width: auto;
}
.contain_link > a{position: relative;}
.header > nav > ul > li.contain_link > a::after{
/* .contain_link > a::after{ */
	display: inline-block;
	content: "";
	position: absolute;
	top: 27px;
	right: 24px;
	width: 21px;
	height: 2px;
	background: #fff;
}
.nav > ul > li > a::after{
	left: auto;
}
.header > nav > ul > li.contain_link > a:hover::after{
/* .contain_link > a:hover::after{ */
	background: #8B0000;
}
/* .header > nav > ul > li.contain_link > a::before{ */
.contain_link > a::before{
	display: inline-block;
	content: "";
	position: absolute;
	top: 18px;
	right: 33px;
	width: 2px;
	height: 21px;
	background: #fff;
	transition: .3s;
}
/* .header > nav > ul > li.contain_link > a.open::before{ */
.contain_link > a.open::before{
	transform: rotate(90deg);
}
/* .header > nav > ul > li.contain_link > a:hover::before{ */
.contain_link > a:hover::before{
	background: #8B0000;
}

/* .spnav .contain_link li{position: relative;}
.spnav .contain_link li a::before{
	content: "";
	height: 1px;
	width: 10px;
	background: #fff;
}
.spnav > ul > li .contain_link > li a::after{
	content: "";
	height: 1px;
	width: 10px;
	background: #fff;
} */


/* -main- */
.mainVisual > .messageWrap{width: 580px;height: 260px;}
.mainVisual > .messageWrap > ul > li:nth-child(1){top: 25px;}
.mainVisual > .messageWrap > ul > li:nth-child(2){top: 165px;}


/* -section- */
#body .section{padding: 70px 0;}

/* -pankuzu- */

/* -footer- */
.footer{padding: 0 0 56px 0;}
.footer_link{width: 80%; margin: 0 auto; padding: 60px 0 35px 0;}
.footer_link > ul{width: 100%; flex-direction: column; justify-content: flex-start; margin: 0 auto;}
.footer_link > ul > li{margin-bottom: 20px;}
.footer_link > ul:first-child{width: 520px;}
.footer > nav{position: relative; padding: 0;}
.footer > nav > ul{width: 100%; margin: 20px auto;}
.footer .logo{margin-bottom: 20px;}
.footer .logo img{margin-bottom: 20px;}


/*============================
#2__設定
============================*/
/* -基本設定- */

/* -各セクションごとの設定- */
#body section:first-child .section{padding: 20px 0 20px;}
.shopLink > ul > li{width: calc(50% - 1px);margin-right: 2px;margin-bottom:  2px;}
.shopLink > ul > li:nth-child(2n){margin-right:0;}
.shopLink > ul > li > a > .image{width: auto; height: auto;}
.shopLink > ul > li > a > .image img{width: 100%;}
.voiceList{overflow: scroll;width: 94.668%;margin: 0 auto;}
.voiceList > ul{}
.voiceList > ul > li{white-space: normal;}
.infoList{overflow: scroll;width: 94.668%; margin: 0 auto;}
/* .infoList > ul{white-space:  nowrap; } */
.infoList > ul > li{}
/* .countList{padding: 50px 0;}
.countList > ul > li{display:block;margin: 0 0 47px 0;}
.countList > ul > li:last-child{margin-bottom:0;} */
/* .sampleList > ul > li{margin-bottom:  40px;}
.sampleList > ul > li:nth-child(2n){margin-right:0;} */

/* -main- */

.shopLink > ul{
	display: flex; flex-wrap: wrap; justify-content: center;
	width: calc(100% - 30px); 
	margin: 0 auto;
}


.shopList > ul{flex-direction: column; justify-content: center;}
.shopList > ul > li:last-child{margin: 0 auto}
.shopList > ul > li{width: 420px; margin-right: 0; margin: 0 auto; text-align: center; margin-bottom: 50px;}
.shopList .image{height: 220px;}
.shopList .image > img:first-child{left: 0; transform: none;}
.shopList .image .circle{
	margin-top: 0; margin-left: -10px; 
	width: 220px; height: 220px; top: 0%; 
	transform: translate(0%, 0%)
}
.infoList > ul{text-align:center;width: auto;}
.f_sns{position: static;
    text-align: center;
    margin-top: 20px; width:90%;}
.shopLink > ul > li > a > .text2{
    top: 44px;
}
.shopLink > ul > li > a:hover > .text > span{background: rgba(255,2555,255, 0.6); color:#000;}
.shopLink > ul > li > a > .text > span::before{ display:none;}




/*============================
#4__CSSハック
============================*/
/* -ファイアフォックス- */
@-moz-document url-prefix() {

}

/* -IE- */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}




/*============================
#5__プラグイン制御
============================*/
/* -基本設定- */
.slick-prev{left: 0;}
.slick-next{right: 0;}
.infoList .image{ width:auto;}
#voice .voiceList > ul{ width:100%;}
#voice .voiceList > ul li{ margin:0;}
.voiceList > ul > li .image{ margin:0 auto 8px auto;}

/*============================
#6__スクリプト発火
============================*/
/* -基本設定- */
nav.on{left:0;}

/*============================
#6__下層ページ
============================*/

.kaso .kasoTabmenu { width: 100%; position: relative; display: inline-block; left: 0; transform: translateX(0%); top: 0; padding: 10px 0 30px; }
  .kaso .kasoTabmenu ul { width: 96%; position: relative; left: 50%; transform: translateX(-50%); padding: 0; margin-top: 0; z-index: 1; }
  .kaso .kasoTabmenu ul > li { margin-left: 0; width: 49%; }
  .kaso .kasoTabmenu ul > li > a { width: 100%; height: 70px; font-size: 14px; }
  .kaso .kasoTabmenu ul > li > a .menuBlock { width: 100%; }
  .kaso .kasoTabmenu ul > li:nth-child(even) { margin-left: 2%; margin-bottom: 2%; }
  .kaso .kasoTabmenu span.icon { left: 10%; bottom: 22px; }
  .kaso .mainVisual { height: 160px; }
  .kaso section .section { width: auto; }
  .kaso section .flow dt { font-size: 16px; margin: 23px 0 0 40px; }
  .kaso section .flow dd { width: auto; padding: 15px 15px 15px 250px; }
  .kaso section .flow dd.includeImg { width: auto; }
  .kaso section .infomation { width: 100%; }
  .kaso section .inlineBox { width: 90%; }
  .kaso section .inlineBox img { float: none; transform: translateY(0px); padding-bottom: 20px; }
  .kaso section .inlineBox ul { margin-left: 0; }
  .kaso section .workList ul { width: 320px; margin: 0 auto; }
  .kaso section .workList li { margin-right: 0; margin-top: 20px; }
  .kaso section .voiceList > ul > li { width: auto; }
  .kaso section .voiceList > ul > li:nth-child(2n) { margin-right: 0; }
  .kaso article#body { margin-top: 0px; }
  .kaso article#body section:nth-child(odd) { padding-bottom: 0; }
  .kaso article#body section:nth-child(odd) .section { top: 0; }
  .kaso article#body section:nth-child(1) .title { width: auto; }
  .kaso article#body section:nth-child(1) .title .date { position: relative; padding-bottom: 10px; }
  .kaso article#body section#voice_detail_top { padding-bottom: 50px; }
  .kaso article#body section#voice_detail_02 { padding-bottom: 20px; }
  .kaso.kaigyo .kasoTabmenu { width: 100%; margin:0;top:0;}
  .kaso.kodawari .kasoTabmenu { width: 100%; }
  .kaso.sample section .inlineBox { width: 90%; }
  .kaso.sample .section ul { width: 320px; }
  .kaso.sample .section li { margin-right: 0; }
  .snsLink a { width: 150px; }
  .voiceArticle ul { width: 90%; }
  .voiceArticle li { width: 48%; margin-bottom: 2%; }
  .voiceArticle li:nth-child(2n) { margin-left: 2%; }
  .voiceStore { width: 90%; }
  .voiceStore .map { width: 100%; margin-top: 20px; }
  #voice_detail_03 h3 { width: 90%; }
  #voice_detail_03 .voiceList { width: 90%; }
  .kaso .voiceStore .desc { float: none; width: auto; }
  .kaso .voiceStore .desc dl { font-size: 16px; }
  #work_top_01 .button { width: 100%; text-align: center; }
  #work_top_01 .button a + a { margin-left: 0; margin-top: 20px; } 
		

}
