.seminar_box.clearfix
	.when
		.title SEMINAR
		.year 2018
		.month 10
		.sla /
		.date 24
		.day ［ Wed ］
	
	.seminar_wrap
		.title
			a(href="http://www.globis.sg/seminar/detail-20181024.html?Singapore" target="_self")
				|GLOBIS Intensive Program in Singapore<br>Essentials of Strategy, Marketing, Accounting
		//- 無料の時表示
		.flag(style="display:none;") Free

		.sub_title
			span.blue ［ Country ］
			span.country Singapore 
			span.blue ［ Place ］
			Marina One West Tower. Level 3
		.comment_area.clearfix
			.comment_area_L
				.fz12
					|(Japanese Description Follows: 英語に続いて日本語の説明があります。)
				br
				br
				.fz26.bold.blue
					|Basic Management Knowledge Required by Middle Managers
				br
				.fz16
					|■&nbsp;A program that enables managers and general managers to effectively and efficiently learn the big picture of management needed in their roles
				br
				.fz16
					|■&nbsp;Middle managers have to see not only at department level but also by understanding the whole picture of&nbsp; its company business. In this program, participants will develop a company-wide perspective by learning all key management areas.
				br
				.fz16.bold
					|This program is conducted in English and targeted at managers and general managers who:
				.fz16
					|●&nbsp;
					|want to effectively learn the overall picture and basic frameworks of management
				br
				.fz16
					|●&nbsp;
					|are expected to make decisions not only for their own work but from a company-wide perspective
				br
				.fz16
					|●&nbsp;
					|wish to broaden their perspective through discussions of issues and ideas they might not usually notice with people from other companies and industries
				br
				img(alt="" src="https://www.globis.asia/file_master/misc/images/Seminar%20Globis%20EMS%20overview%20Ver2.png")
	
				.fz12
					|*Will be held in Singapore. Please refere to the below details for more information.&nbsp;	
					|&nbsp;**GLOBIS may cancel the program due to insufficient registrations.
					
			.comment_area_R
				img(src="https://www.globis.asia/file_master/person/009.jpg")
				p Toru Takahashi
				span GLOBIS Asia Pacific Pte. Ltd.