section
	.section
		.sectionTitle.threeBlocks
			ul
				li
					.image
						img(src="", alt="")
					.date
					.title
					.text
				li
					.image
						img(src="", alt="")
					.date
					.title
					.text
				li
					.image
						img(src="", alt="")
					.date
					.title
					.text
