doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/base01.css")
    title テストページ
  body
    header
    nav
    main
      //- first block
      article
        //- main visual
        section
          .mainVisualContent
          .pankuzu
          .articleTitle
      //- second block
      article
        section
          .section
            .sectionTitle.threeBlocks
              ul
                li
                  .image
                    img(src="", alt="")
                  .date
                  .title
                  .text
                li
                  .image
                    img(src="", alt="")
                  .date
                  .title
                  .text
                li
                  .image
                    img(src="", alt="")
                  .date
                  .title
                  .text
        section
          .section
            .sectionTitle
            .textarea
            .subjectArea
        section
          .section
            .sectionTitle
            .textarea
            .subjectArea
        section
          .section
            .sectionTitle
            .textarea
            .subjectArea
    include include/footer.pug


      
